.et_pb_slider .et_pb_slide {
  background-size: cover !important;
  background-position: top !important;
  padding: 0px !important;
}

.et-pb-arrow-prev, .et-pb-arrow-next {
  top: 30% !important;
}

.et-pb-controllers {
  bottom : 40px !important;
}